{% extends "tasks_manager/base.html" %}

{% block title_html %}
Updating a {{ model_name }}
{% endblock %}

{% block h1 %}
Use this form to update a {{ model_name }}
{% endblock %}

{% block article_content %}
<!-- Unfortunately this has no effect: url url_name object.id , django takes over the action part -->
<form method="post" action="">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <!--
  Alternatives for rendering forms:
    as_table: This displays fields in the <tr> <td> tags
    as_ul: This displays the form fields in the <li> tags
    as_p: : This displays the form fields in the <p> tags
   -->
  <input type="submit" value="Update the damn thing"/>
</form>
{% endblock %}