{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue js Django Crutd app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
</head>
<body>

{% comment %}TODO we need to have the csrf token populated.
More here: https://stackoverflow.com/questions/32653518/django-rest-framework-returning-403-response-on-post-put-delete-despite-allowa{% endcomment %}

<div id="starting">
    <div class="container">
        <div class="row">
            <h1>List of articles
                <button class="btn btn-success">ADD ARTICLE</button>
            </h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Heading</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>

                <tbody>
{#                here we have only the v-something and anything being inside the ${ .. } to play a role#}
                <tr v-for="article in articles">
                    <th scope="row">${article.article_id}</th>
                    <td>${article.article_heading}</td>
                    <td>
                        <button class="btn btn-info" v-on:click="getArticle(article.article_id)">Edit</button>
                        <button class="btn btn-danger" v-on:click="deleteArticle(article.article_id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {# ALSO HERE we are using vue js #}
    <div class="loading" v-if="loading===true">Loading&#8230;</div>
</div>

{#keep vue script at the bottom#}
<script src="{% static 'js/testing.js' %}" type="text/javascript"></script>
</body>
</html>