{% load wagtailcore_tags wagtailimages_tags demo_tags %}

{# ideally we would like the content below to be loaded via vue.js #}
<h1>Blog Page type - {{ page.title }}</h1>

{% if page.advertisement %}
    <p>
        Don't forget this awesome advertisement:<br/>
        {% simple_advert page.advertisement %}
    </p>
{% endif %}

{% if page.categories|length %}
    <p>Categories of post:</p>
{% endif %}
<ul>
    {% for cur_categ in page.categories.all %}
        <li>{{ cur_categ }}</li>
    {% endfor %}
</ul>

<p>Tags of this post:</p>
{% if page.tags.all.count %}
    <div class="tags">
        <h3>Tags</h3>
        {% for cur_tag in page.tags.all %}
            {% comment %}The difference is that slugurl takes a Page slug
                (from the Promote tab) as an argument.#}{% endcomment %}
            {#                Generate a URL for a Page with a slug:#}
            {#                NOTE that we chose the "tags" url ourselves via wagtail, this is for readability#}
            <a href="{% slugurl 'tags' %}?tag={{ cur_tag }}">
                <button type="button">{{ cur_tag }}</button>
            </a>
        {% endfor %}
    </div>
{% endif %}

<div>
    <p>images:</p>
    {% for cur_img_obj in page.gallery_images.all %}
        <div>
            {% image cur_img_obj.image fill-150x150 %}
            <span>{{ cur_img_obj.caption }}</span>
        </div>
    {% endfor %}
</div>

<p class="meta">{{ page.date }}</p>

<div class="intro">{{ page.intro }}</div>

{{ page.body|richtext }}

<p>
    {% if page.author %}
        <p> By {{ page.author }}</p>
    {% endif %}
</p>

{# this is how you access the parent of the page and get its url  #}
<p><a href="{{ page.get_parent.url }}">Return to blog now</a></p>