{% extends "wagtailapp/blogbase.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
  <h1>{{ page.title }}</h1>

  <div class="intro">{{ page.intro|richtext }}</div>

  {#    {% for blogpost_instance in page.get_children.live %}#}
  {#    {% for blogpost_instance in page.get_children %}#}
  {#  {% debug %}#}
  {% for blogpost_instance in page.specific.get_published_blogposts %}
    {% with blogpost=blogpost_instance.specific %}
      {#    <h2><a href="{% pageurl blogpost %}">{{ blogpost.title }}</a></h2>#}
      <h2><a href="{{ blogpost.url }}">{{ blogpost.title }}</a></h2>
      {#      the two lines above are identical#}

      {{ blogpost.intro }}
      {{ blogpost.body|richtext }}
    {% endwith %}
  {% endfor %}

{% endblock %}