{% extends "wagtailapp/blogbase.html" %}

{# The app that contains the custom tags must be in INSTALLED_APPS in order for the {% load %} tag to work. #}
{% load staticfiles wagtailcore_tags demo_tags %} {# separated by space #}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
{#    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/LARGE_elevation.jpg"/>#}

    <h1>Vue.js power - {{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    <div>
        edw ta kala adverts apo thn selida {{ page.title }}:<br/>
        {% adverts page.get_advertisements %}
    </div>

    {# this router link thing is something special possibly provided by vuejs router #}
{#    `<router-link>` will be rendered as an `<a>` tag by default #}
    <router-link to="/foo">Go to Foo</router-link>
    <br/><br/>
    <router-link to="/bar">Go to Bar</router-link>
    <br/>

    {% comment %}{#  This is only if you have one and only one thing  #}
    <router-view></router-view>
    <br/>{% endcomment %}

    <h2>Blog instances (Ideally we would like to click them and underneath get the content of the blog page)</h2>

    {% for blogpost_instance in page.specific.get_published_rev_order %}
        {% with blogpost=blogpost_instance.specific %}
            <bloglink blogposturl="{{ blogpost.url }}" blogposttitle="{{ blogpost.title }}" ></bloglink>

            {{ blogpost.intro }}
        {% endwith %}
    {% endfor %}

    <div class="loading" v-if="loading===true">Loading&#8230;</div>
    <br/>
    <h1>BLOG POST BELOW</h1>
{#    <div v-html="loaded_content"></div>#}
{#    <router-view name="namedone"></router-view>#}
    <router-view>foirejgoiregoiren</router-view>

{% endblock %}

{% block end_of_body %}
    <script src="{% static 'js/blog_index_inline.js' %}" type="text/javascript"></script>
{% endblock %}
