{% extends "wagtailapp/blogbase.html" %}

{# The app that contains the custom tags must be in INSTALLED_APPS in order for the {% load %} tag to work. #}
{% load wagtailcore_tags demo_tags %} {# separated by space #}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
  <h1>{{ page.title }}</h1>

  <div class="intro">{{ page.intro|richtext }}</div>

    <div>
    edw ta kala adverts:<br/>
    {% adverts %}
    </div>

  {#    {% for blogpost_instance in page.get_children.live %}#}
  {#    {% for blogpost_instance in page.get_children %}#}
  {#  {% debug %}#}
    <p>Blog instances:</p>
  {% for blogpost_instance in page.specific.get_published_rev_order %}
    {% with blogpost=blogpost_instance.specific %}
      {#    <h2><a href="{% pageurl blogpost %}">{{ blogpost.title }}</a></h2>#}
      <h2><a href="{{ blogpost.url }}">{{ blogpost.title }}</a></h2>
      {#      the two lines above are identical#}
      {{ blogpost.intro }}
      {{ blogpost.body|richtext }}
    {% endwith %}
  {% endfor %}


{% endblock %}